<div class="sf_region1">
  <div class="sf_navigation">
    <ul>
      <li><a href="index.html">{{home}}</a></li>
      <li><a href="about.html">{{about}}</a></li>
      <li><a href="services.html">{{services}}</a></li>
      <li><a href="resources.html">{{resources}}</a></li>
      <li><a href="contact.html">{{contact}}</a></li>
      <li class="btn-wrapper">
        {{#unless baseAssets}}
          <a class="btn" href="">Español</a>
        {{else}}
          <a class="btn" href="">English</a>
        {{/unless}}
      </li>
    </ul>
  </div>
</div>

<div class="sf_header_wrapper">
  <div class="sf_region2"></div>
  <div class="sf_extra3"></div>
</div>