<!DOCTYPE html>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="{{ baseAssets }}css/app.css"/>

<div class="sf_outer_wrapper">
  {{> partials/nav}}

  <div class="sf_wrapper">
    <div class="sf_main_wrapper">
      <div class="sf_main">
        <div class="sf_region6">
          <h1>{{ title }}</h1>
          <div class="sf_content">
            <form id="contact-us" method="post">
              <table class="form" cellspacing="1" cellpadding="3">
                <tr>
                  <th colspan="2">
                    <p>{{ form-heading }}</p>
                  </th>
                </tr>

                <tr>
                  <td><label for="Field1">{{ first-name }}:</label></td>
                  <td><input id="Field1" name="Field1" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field2">{{ last-name }}:</label></td>
                  <td><input id="Field2" name="Field2" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field3">{{ address-one }}:</label></td>
                  <td><input id="Field3" name="Field3" type="text" size="30"></td>
                </tr>
                <tr>
                  <td><label for="Field4">{{ address-two }}:</label></td>
                  <td><input id="Field4" name="Field4" type="text" size="30"></td>
                </tr>
                <tr>
                  <td><label for="Field5">{{ city }}:</label></td>
                  <td><input id="Field5" name="Field5" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field7">{{ zip }}:</label></td>
                  <td><input id="Field7" name="Field7" type="text" size="5" maxlength="5"></td>
                </tr>
                <tr>
                  <td><label for="Field6">{{ state }}:</label></td>
                  <td>
                    <select id="Field6" name="Field6" type="text">
                      {{#each states}}
                        <option value="{{ this }}">{{ this }}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="Field10">{{ phone-one }}:</label></td>
                  <td><input id="Field10" name="Field10" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field11">{{ phone-two }}:</label></td>
                  <td><input id="Field11" name="Field11" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field9">{{ email }}:</label></td>
                  <td><input id="Field9" name="Field9" type="text"></td>
                </tr>
                <tr>
                  <td><label for="Field14">{{ question }}:</label></td>
                  <td>
                    <textarea id="Field14" name="Field14" rows="4" cols="38">{{ question-template }}</textarea>
                  </td>
                </tr>

              </table>

              <input title="Country" type="text" name="Field8" hidden="hidden" value="United States">

              <p align="center">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
              </p>
            </form>
          </div>
        </div>
      </div>
      <!-- /sf_main_wrapper -->
    </div>
    <!-- /sf_main -->
  </div>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ baseAssets }}js/contact.js"></script>
<script>
  var formId = '#contact-us'
  $(formId).submit(function (event) {
    // TODO: Perform some kind of validation here.
    var form = this
    var phoneOne = $(form).find('#Field10')
    var phoneTwo = $(form).find('#Field11')

    phoneOne.val(fixPhoneNumber(phoneOne.val()))
    phoneTwo.val(fixPhoneNumber(phoneTwo.val()))


    submitWufooForm('https://jvtrigueros.wufoo.com', 'LU7V-MFEX-YFH9-CE9K', $(form).serialize())
    event.preventDefault('')
  })
</script>
{{> partials/footer}}
